In [1]:
import pandas as pd

In [21]:
data = pd.read_csv('TNC Certificate.csv')

In [22]:
data.isnull().sum()

S/N       0
NAME     10
EMAIL     8
TIME      0
dtype: int64

In [116]:
data.dropna(inplace=True)

In [117]:
len([x for x in data['NAME'].value_counts() if x >=0])

492

In [121]:
len(data.NAME.unique())

492

In [122]:
data.shape

(830, 4)

In [123]:
name = data[['NAME', 'EMAIL']]
name['EMAIL'].unique().shape
# name.shape

(480,)

In [145]:
names, emails=[], []
for d in data[['NAME', 'EMAIL']].values:
    if len(data[data['NAME']==d[0]]) >= 5 and (d[0] not in names):
        names.append(d[0])
        emails.append(d[1])

In [146]:
len(names), len(emails)

(33, 33)

In [147]:
#This dataframe contains the number of people that attended more than 5 times for the program
pd.DataFrame({'names': names, 'emails': emails})

                                names                              emails
0                      Sodiq Akinjobi                     admin@gmail.com
1         Ezeokoye Ifunanya Benedicta               ifunanya306@gmail.com
2                      Delight Oyende               toluwanimik@gmail.com
3                    Miracle Ogunleye         ogunleyeolamide01@gmail.com
4   Araoye Mohammedfirdous Ayomilekan          ayomilekanaraoye@gmail.com
5                         ARPAN KUMAR         arparpanyadav1998@gmail.com
6                     Adebiyi Stephen          stephenadebiyi16@gmail.com
7                     Nwatu Chisomeje             roselinejeada@gmail.com
8            Salami Oluwatoyin Mariam       oluwatoyinmariam835@yahoo.com
9                     Marvel Ogunleye            ogunleyemarvel@gmail.com
10                      Eke John Igwe           stephenjohn5646@gmail.com
11              Raji Mustapha Ademola            rajimustapha30@gmail.com
12                   Oladeji Emmanuel       oladejiemmanuel2018@gmail.com
13                 Adekunle Abdullahi  Abdullahiopeyemiadekunle@gmail.com
14               Oni Joshua Oluwafemi              onijoshua044@gmail.com
15              Joseph Chisom Anyanwu             chisomjoe4620@gmail.com
16         Odewande Oluwasegun Samuel            segunwande2206@gmail.com
17                    Ojo Oluwapelumi        ojooluwapelumi2018@gmail.com
18                 Okom Covenant John                covegenius@gmail.com
19            Akinwande Akinboluwarin    akinwandeakinboluwarin@gmail.com
20            Balogun Munirat Ayomide         ayomidemunirat327@gmail.com
21         Adefarati Oluwatosin isaac         Oluwatosinisaac26@gmail.com
22                         Ezike Kodi                  kodiezzy@gmail.com
23                      Ayopo Bankole                 quacecode@gmail.com
24        Shonola Jedidiah Halleluyah           shonolajedidiah@gmail.com
25                         Aisha Disu              Missloladami@gmail.com
26          Okoneyo Etieneobong Peter            gabrielokoneyo@gmail.com
27          Ganiyu Ibukunoluwa Eniola     www.Ibukunoluwaganiyu@gmail.com
28                    Arafah Ogunfemi           ayobamiarafat09@gmail.com
29          Olalekan oluwafunso ponle             funsoolalekan@gmail.com
30              Oyawole Oluwadamilola         oyawoledamilola01@gmail.com
31                 Suleiman Sakariyah           ayodelesuleiman@gmail.com
32         Bamgbola Samuel Aduragbemi            samuelbamgbola@gmail.com

In [166]:
name, email=[], []
for d in data[['NAME', 'EMAIL']].values:
    if len(data[data['NAME']==d[0]]) > 0 and (d[0] not in name):
        name.append(d[0])
        email.append(d[1])

In [167]:
len(name), len(email)

(492, 492)

In [171]:
# This contains number of people that attended the program at least once with no repetitive names 
people = pd.DataFrame({'names': name, 'emails': email})
people.head()

                       names                        emails
0             Sodiq Akinjobi               admin@gmail.com
1          Shuaib Abdulmuqit     horleryeeworler@gmail.com
2          Ruth Moroluwa Ojo          ojoruth192@gmail.com
3       Kutu Sarah Motunrayo    sarahmotunrayo98@gmail.com
4  OLUWADAISI PRAISE OGOJESU  oluwadaisipraise26@gmail.com

In [195]:
#This contains number of participants that from the 234th row with no repetitions
people.iloc[234:]

                      names                          emails
234         Arafah Ogunfemi       ayobamiarafat09@gmail.com
235        Betiku Oluwatobi        anthonytobynho@gmail.com
236            Rafiu Hammed  livelinksinfographix@gmail.com
237  Itunuoluwa Mercy Nwosu             mercytunz@gmail.com
238         Ayomipo olamipo      ayomipoolamipo85@gmail.com
..                      ...                             ...
487             Wetter Dash        wetterdash7809@gmail.com
488                     Joe                   test@test.com
489                       H                           h@h.c
490           Nwanne Nnamdi          nwannennamdi@gmail.com
491          Adejumo Samuel       adejumosamuel00@gmail.com

[258 rows x 2 columns]

<h3>If you try to message me before 2 pm today, I'm already sleeping ma. I think I need the sleep and I finshed your task ma.
</h3>
    
<footer>&copyright Sodiq Agunbiade</footer>